/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  this is where the actual stylesheet starts */

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #60a9ff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.panel {
	background-color: white;
	border-radius: 10px;
	padding: 15px 25px;
	width: 100%;
	max-width: 960px; /* okay this is what prevents the like stretching problem I had.  You set width to 100% and then set the max width to say how much you want it to take up in width at maximum */
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #60a9ff;
	text-transform: uppercase;
}

.pricing-plan {
	color: #016ff9;
}

.pricing-features {
	margin-bottom: 35px;
}

.pricing-header {
	margin-bottom: 35px;
	color: #888;
	font-weight: 620;
	letter-spacing: 1px;
	font-size: 1.2em;
}

.pricing-price {
	font-size: 1.9em;
	font-weight: 700;
}

.list-item {
	border: 1px solid #e1f1ff;
	border-left: 0;
	border-right: 0;
	padding: 15px 0;
	font-size: .8em;
	font-weight: 540;
}

.list-item:first-of-type {
	border-bottom: 0;
}

.panel-image {
	margin-bottom: 25px;
	max-width: 100%; /* okay this one is huge...this is what sets the image to have a max-width of 100% of the the parent containter, in this case the .panel above.  So that means if the image is naturally larger than the container it will overflow as the containter resizes...but not if I set its max width to always be 100% of the parent container */
}

.pricing-plan {
	border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
	border-bottom: none;
}

button {
	display: block;
	margin: 20px auto;
	font-size: 25px;
	padding: 15px 30px;
	border: 1px solid #9dd1ff;
	border-radius: 10px;
	background-color: white;
	color: #9dd1ff;
	font-weight: 100;
	font-size: 1em;
	text-transform: uppercase;
}

button:hover{
	background-color: #9dd1ff;
	color: white;
}